@use "layout";
@use "components";
@use "abstracts";

*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mate SC", sans-serif;
    background-size: cover;
    background-attachment: fixed;
  }
}

.app {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  height: 70%;
  width: 65%;
  background-color: lightblue;

  .app-display {
    display: flex;
    height: 100%;
    width: 100%;

    .app-content {
      display: flex;
      height: 100%;
      width: 100%;
      position: relative;
      .category-content {
        overflow: hidden;
        position: absolute;
        width: 100%;
        .todo {
          font-size: 1.1rem;
          display: grid;
          grid-template: 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr;
          place-items: start;
          align-items: center;
          padding: 0.5rem 1rem;
          .checkbox {
            cursor: pointer;
            width: 1.5rem;
            height: 1.5rem;
            background-color: white;
            border-radius: 50%;
            border: 2px solid #ddd;
            appearance: none;
            -webkit-appearance: none;
            &:checked {
              background-color: abstracts.$neon-purple;
            }
          }
          .edit-button,
          .details-button,
          .delete-button {
            justify-self: end;
          }
        }
      }
      .active {
        opacity: 100;
        z-index: 1;
      }
      .inactive {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}
