.nav-bar {
  display: grid;
  grid-template: 1fr /1fr 1fr 1fr;
  padding: 1.5rem;
  .nav-title {
    place-self: center;
  }
}

.github-logo {
  place-self: start;
  transition: transform 1s ease-in-out;
  &:hover {
    transform: rotate(720deg);
  }
}
