@use "../abstracts/colors" as *;
.category-button {
  font-family: "Mate SC", "Courier New", Courier, monospace;
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    &::before {
      content: "* ";
    }
    &:hover,
    &.active {
      &::before {
        content: "* ";
      }
      &::after {
        content: " *";
      }
    }
  }

  &::before {
    content: "/ ";
  }
  cursor: pointer;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;

  &:hover,
  &.active {
    color: rgba(0, 0, 0);
    font-weight: bold;
    letter-spacing: 0.01rem;
    scale: 1.1;
    &::after {
      content: " /";
    }
    &:hover {
      scale: 1.2;
      letter-spacing: 0.03rem;

      &:active {
        scale: 1.1;
      }
    }
  }
}

.add-button {
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid rgb(44, 41, 46);
  background-color: hsl(290, 79%, 51%);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  &:hover,
  &.active {
    color: rgba(0, 0, 0);
    font-weight: bold;
    scale: 1.1;
    color: rgb(255, 255, 255);
    border: 0.15rem solid rgb(44, 41, 46);
  }
  &:hover {
    &::before {
      content: none;
    }
  }
}

.form-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  grid-column: 1/-1;
}

.edit-btn-container {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button-hover($color) {
  &:hover {
    box-shadow: 0 0 0 0.0625em $color;
    box-shadow: 0 0 0 0.0625em $color;
    color: $color;

    box-shadow: 0 0 40px 15px $color inset, 0 0 40px 10px $color;
    border: 2px $color solid;
    color: $color;
  }
}

.form-btn,
.delete-button,
.edit-button,
.details-button,
.okay-button {
  &.delete-button,
  &.edit-button,
  &.details-button {
    box-shadow: 0 0 40px 15px $neon-purple inset;
    font-size: 1rem;
  }
  &.details-button {
    @include button-hover($neon-green);
  }
  &.delete-button {
    @include button-hover($neon-red);
  }
  &.edit-button {
    @include button-hover($neon-yellow);
  }

  &.edit-cancel-btn,
  &.create-cancel-btn {
    @include button-hover($neon-red);
  }

  font-size: 2rem;
  font-family: "Mate SC", sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: $neon-yellow;
  background-color: transparent;
  border: 2px $neon-yellow solid;
  box-shadow: 0 0 40px 15px $neon-red inset;

  transition: 0.5s;
  &:hover {
    transform: scale(1.03);
    letter-spacing: 0.2rem;
    box-shadow: 0 0 40px 15px $neon-green inset, 0 0 40px 10px $neon-green;
    border: 2px $neon-green solid;

    color: $neon-green;
    cursor: pointer;
  }
}
