@use "../abstracts/" as *;

.required::after {
  content: "*";
}

.create-form {
  display: grid;
  grid-template: 1fr /200px 200px;
  gap: 2rem 4rem;
}

.details-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .details-container {
    display: flex;
    gap: 1rem;
  }
}

.create-form,
.edit-form,
.details-form {
  gap: 2rem;
  padding: 1rem;
  border: 4px solid rgb(255, 217, 0);
  border-radius: 20px;

  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.6),
    rgba(0, 0, 241, 0.6)
  );

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  .form-title {
    margin: 0;
    grid-column: 1/-1;
    justify-self: center;
    font-size: 4.7rem;
    color: gold;
  }

  .label {
    font-size: 1.37rem;
    font-weight: bold;
  }
  color: gold;
}
